<!--<h3>Add Recipe</h3>-->
<!--<form action="/recipes" method="POST">-->
<!--  <input type="text" id='recipe' name="recipe" placeholder="Name:">-->
<!--  <input type="text" id='ingredients' name="ingredients" placeholder="Ingredients:">-->
<!--  <input type="text" id='cook_time' name="cook_time" placeholder="Cook Time:">-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<h1>Please enter your new recipe below:</h1>
<form action="/recipes" method="post">
  <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>
  <label for="ingredients">Ingredients:</label>
    <input type="textarea" id="ingredients" name="ingredients"><br>
  <label for="time">Cook Time:</label>
    <input type="text" id="cook_time" name="cook_time"><br>
  <input type="submit" value="submit">
</form>